html {
  box-sizing: border-box;
}
body{
  background-image: url(bg_index.png);
}
p{
  width: 600px;
  height: 600px;
  float: center;
  text-align: center;
  font-size: 38px;
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
}
